*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  align-items: end;
  margin: auto;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  border: 0;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  padding: 1px;
}

.search-form__textfield {
  min-width: 225px;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  height: 27px;
}

.search-form__textfield:active {
  outline: 0;
  border: 1px solid currentColor;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible:not(:active)) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  padding-top: 1px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}

input[type="checkbox"]:checked + span::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

input[type="checkbox"]:active + span::after{
  content: '';
  width: 15px;
  height: 15px;
  background-color: currentColor;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.button {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  border: 1px solid #fff;
}

.search-form__submit-button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 194px;
  min-height: 34px;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 399px;
  min-height: 34px;
}

.button:active {
  color: currentColor;
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  gap: 26px;
  padding-top: 4px;
}

.title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
  overflow-x: hidden;
}

.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
  padding-left: 3px;
  max-width: 200px;
}

.content__video-card-title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  color: #fff;
  overflow: hidden;
  overflow-wrap: break-word;
}

.content__video-card-thumbnail {
  width: 194px; 
  height: 103px;
  object-fit: cover;
  object-position: center center;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
}
